body{
    background: linear-gradient(#5faaff, #ca7bfe);
    background-repeat: no-repeat;
}

title{
    color:rgb(122, 255, 197)
}

h3{
color:rgb(122, 255, 197)
}
h2{
color:rgb(122, 255, 197)
}
h1{
color:rgb(122, 255, 197)
}

#rea, #wri{

    background-color:purple;

    color: rgb(0, 110, 255);
}