body{
    background: linear-gradient(#5faaff, #ca7bfe);
    background-repeat: no-repeat;
}

h1{
     text-align: center;
color:rgb(122, 255, 197)
}

.email, .passW, .userN, .conpassW{
    text-align: center;
    color:rgb(122, 204, 255)
}

.wrapper{
text-align: center;
}